#title {
    text-align: center;
    width: 100%;
}
body {
    background-color: rgb(135, 157, 170);
}
#buttons {
    float: right;
    width: 10%;
    padding-left: 5%
}
.button{
    background-color: #4CAF50;
    border: 2px solid rgb(0, 0, 0);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20% -40%;
    opacity: 0.6;
    transition: 0.3;
    cursor: pointer;
    width: 100%;
}
.button:hover{
    opacity: 1;
}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#meinRechteckCanvas{
    float: right;
    width: 80%;
    height: 100%;
    border: 1px solid;
    background: #ffffff;
}
#video{
    margin-left: 12%;
    width: 90%;
}

#instrument{
    float: right;
    writing-mode: vertical-lr; 
    text-orientation: upright; 
    font-size: 250%;
}
#lautstaerke{
    height: 50px;
    text-orientation: upright; 
    font-size: 250%;
    margin-top: 29%;
    padding-left: 32%; 
    letter-spacing: 40px;
}